parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        -
            identifier: missingType.iterableValue
